<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis App</title>
    <!-- Link CSS -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
    <h1>Sentiment Analysis</h1>

    <form id="analyzeForm">
        <textarea id="text" rows="5" placeholder="Enter text here..."></textarea><br>
        <button type="submit">Analyze</button>
    </form>

    <div id="result"></div>

    <button id="exportBtn" style="display:none;">Export PDF</button>
    </main>
    {% include 'footer.html' %}

    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Link JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
